{% extends 'base.html'%}
{% block content %}
   {% if session.username %}
      <div class="cuisines">
        <div class="form_container">
          <p class="heading">Add Cuisine</p>
          <form action="{{ url_for('insert_cuisine') }}" method="POST">
              <div class="input-field">
                  <i class="material-icons prefix">cuisine</i>
                  <input id="icon_prefix" type="text" class="validate" id="cuisine_name" name="cuisine_name" required>
                      <label for="icon_prefix">cuisine</label>
                  </div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Add</button>
              </form>
              <a class="btn waves-effect waves-light red action-button" href="{{ url_for('cuisines') }}">Cancel</a>
          </div>
      </div>
   {% else %}
      <div class="login">
        <div class="form_container">
          <header>
            <p class="heading">You will need to sign in to view this information</p>
          </header>
          <a href="{{url_for('login')}}" class="waves-effect orange accent-2 waves-light btn">Login</a>
        </div>
      </div>
   {% endif %}
{% endblock %}
